.container {
  max-width: 1112px;
  margin: auto;
  display: flex;
  padding-top: 52px;
  padding-inline: 40px;
  gap: 56px;
}

.container > div {
  width: 50%;
}

.mobilevisualsPanel{
  display: none;
}

.visualsPanel > button > img {
  border-radius: 18px;
}
.thumbnailPanel {
  width: 446px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.thumbnailPanel > button > img {
  border-radius: 10px;
}

.thumbnailPanel > button {
  position: relative;
}

.thumbnailPanel > button :hover {
  filter: grayscale(1);
}

.selected {
  border: 2px solid #ff791a;
}

.detailsPanel {
  padding-inline: 20px;
  width: max-content;
}

.vendor {
  margin-top: 64px;
  font-size: 14px;
  font-weight: 600;
  color: hsl(25, 100%, 55%);
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}

.subtitle {
  color: grey;
  line-height: 30px;
}

.priceInfo {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 38px;
}

.discount {
  width: 50px;
  height: 26px;
  background-color: hsl(25, 100%, 94%);
  font-size: 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: hsl(25, 100%, 55%);
}

.oldPrice {
  margin-top: 16px;
  font-size: 16px;
  color: grey;
  text-decoration: line-through;
}

.cartinfo {
  margin-top: 20px;
  display: flex;
  gap: 14px;
}

.itemsincart {
  min-width: 156px;
  width: 156px;
  height: 54px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: hsl(223, 64%, 98%);
}

.addToCart {
  width: 258px;
  height: 54px;
  border-radius: 10px;
  background: hsl(25, 100%, 55%);
  color: white;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.addToCart > img {
  fill: white;
}

.body {
  position: relative;
  z-index: 0;
}
.preview {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 845px) {
  .productPage {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .vendor {
    margin-top: 25px;
  }

  .container {
    flex-direction: column;
    padding: 0;
    gap: 0px;
  }
  .container > div {
    width: fit-content;
  }

  .detailsPanel {
    margin: 0;
    padding-inline: 30px;
  }

  .cartinfo {
    /* display: block; */
    flex-direction: column;
  }

  .itemsincart,
  .addToCart {
    width: auto;
  }

  .mobilevisualsPanel  {
    display:block;
    position: relative;
  
  }

  .mobilevisualsPanel > img {
    border-radius: 0px;
    width: 100%;
    
  }

  .visualsPanel {
    display: none;
  }

  .thumbnailPanel {
    display: none;
  }


  .left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 38%;
    left: 15px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
  }
  
  .left > img {
    padding: 20px;
  }
  .right > img {
    padding: 20px;
  }
  
  .left > img:hover {
    filter: invert(63%) sepia(59%) saturate(4566%) hue-rotate(348deg)
      brightness(104%) contrast(101%);
  }
  .right > img:hover {
    padding: 60px;
    filter: invert(63%) sepia(59%) saturate(4566%) hue-rotate(348deg)
      brightness(104%) contrast(101%);
  }
  
  .right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 38%;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
  }
  
  
}
