.container {
  display: flex;
  align-items: center;
  max-width: 1112px;
  height: 112px;
  justify-content: space-between;
  margin: auto;
  gap: 30px;
  position: relative;
  border-bottom: 0.2px solid hsl(220, 14%, 75%);
}

.logo {
  padding-right: 3vw;
}

.nav {
  display: flex;
  align-items: center;
  max-width: 390px;
  gap: 30px;
  font-weight: 200;
  font-size: 15px;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 46px;
  padding-right: 0px;
}


.cartdropdown{
  width: 356px;
  height: 236px;
  /* background-color: red; */
  position: absolute;
  top: 112px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 30px 2px grey;
 
}

.cartLabel{
  text-align: left;
  width: 314px;
  padding-top: 12px;
}
.cartProductInfo{
  height: 100px;
}

.checkoutBtn{
  width: 314px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: hsl(26, 100%, 55%);
}

.toggle{
  display: none;
}