.container {
  display: flex;
  align-items: center;
  max-width: 1112px;
  height: 112px;
  justify-content: space-between;
  margin: auto;
  gap: 30px;
  position: relative;
  border-bottom: 0.2px solid hsl(220, 14%, 75%);
}



.menu {
  display: none;
}



.logo {
  padding-right: 3vw;
}

.nav {
  display: flex;
  align-items: center;
  max-width: 390px;
  gap: 30px;
  font-weight: 200;
  font-size: 15px;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 46px;
  padding-right: 0px;
}
.options > button {
  position: relative;
}

.options > button > div {
  position: absolute;
  min-width: 18px;
  height: 12px;
  background: hsl(26, 100%, 55%);
  border-radius: 40%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  top: -8px;
  right: -8px;
}

.cartdropdown {
  width: 356px;
  border-radius: 15px;
  height: 236px;
  background-color: white;
  position: absolute;
  top: 108px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 30px 2px grey;
}

.cartLabel {
  text-align: left;
  width: 314px;
  padding-top: 12px;
}
.cartProductInfo {
  height: 100px;
}

.checkoutBtn {
  width: 314px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: hsl(26, 100%, 55%);
  margin-top: 20px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.toggle {
  display: none;
}

.line {
  width: inherit;
  height: 1px;
  background-color: hsl(220, 14%, 75%);
  margin-top: 20px;
}

.cartProductInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  height: 50px;
  color: grey;
}

.cartProductInfo > img {
  border-radius: 8px;
}

.product > p > strong {
  color: black;
}

.empty {
  color: grey;
  display: flex;
  place-content: center;
  padding-top: 50%;
}

.cartLabel {
  margin-top: 10px;
  color: grey;
  font-weight: 600;
}

@media only screen and (max-width: 845px) {
  .container {
    height: 74px;
  }

  .nav > li {
    display: none;
  }

  .nav {
    padding-left: 30px;
  }

  .menu {
    display: contents;
  }

  .cartdropdown {
    z-index: 9;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    height: 236px;
    background-color: white;
    position: absolute;
    right: 6px;

    top: 84px;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px 30px 2px grey;
  }
}
